ci
test
config/dev.yml
config/private.yml
config/settings.yml
releases/**/*.tgz
dev_releases
release
blobs/*
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
my*.yml
*credentials.yml
go1.8.linux-amd64.tar.gz
kafka-manager_1.3.3.1.tar.gz
openjdk-1.8.0_121.tar.gz
